@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f6f7fc;
  color: #181a2a;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d3d5ff;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@media print {
  .no-print {
    display: none !important;
  }
}
